.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(105, 92, 221);
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #fff;
    opacity: .3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(142, 137, 194) inset !important;
    -webkit-text-fill-color: #fff!important;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.button {
    width: 25%;
    min-width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: rgb(105, 92, 221);
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    margin: 0 20px;
}

.button:hover {
    transition: .3s ease-in;
    opacity: 0.8;
}

.button:focus {
    outline: none;
}

.sign__button {
    border: 2px solid rgb(105, 92, 221);
    background-color: transparent;
}

.facebook__login,
.google__login,
.google__login div {
    border-radius: 30px!important;
}

.facebook__login {
    border: none;
}

.google__login,
.facebook__login {
    margin: 5px;
    height: 50px;
}

.social__sign span,
.google__login {
    width: 50%;
}

.facebook__login {
    width: 100%;
    background-color: #1877F2;
    font-family: 'Helvetica';
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.social__sign {
    display: flex;
    justify-content: space-between; 
}


@media only screen and (max-width: 700px) {
    .form {
        flex-direction: column;
        align-items: center;
        padding: 10px 50px;
    }
    
    .input {
        width: 100%;
        margin-bottom: 30px;
    }

    .button {
        width: 100%;
        margin: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .form {
        padding: 10px 30px;
    }
}